{{>partials/header}}

    <h1>Página de Login</h1>
    
    <form method="POST" action="login-action">
        Email: <input type="email" name="email"><br>
        Senha: <input type="password" name="senha"><br>
        <input type="button" value="Enviar">
    </form>

    {{email}}
    {{senha}}


{{>partials/footer}}